.arrowLeft, .arrowRight{
    z-index: 1;
    position: absolute;
    top: 40%;
    cursor: pointer;
}

.arrowRight{
    right: 0;
}










/* media queries */
@media screen and (max-width: 768px){
    
}