.imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    border: 1px solid #000;
    width: 100%;
}

.fullscreen{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #000;
}

.controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nextChapter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.nextChapter a{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.nextChapter:hover{
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}